/********* GLOBAL *********/
h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

body {
    line-height: 0;
}

/********* HEADER *********/

header {
    background-color: #111;
    overflow: hidden;
    padding: 20px 10px;
}

.header-right {
    gap: 3em;
    float: right;
    padding-top: 10px;
    padding-right: 15px;
}

header a, .header-title {
    float: left;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.header-title {
    font-size: 40px;
    user-select: none;
    line-height: normal;
}

header a:hover {
    background-color: #273233;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    header a, .header-title {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/********* MAIN *********/

/**PROFILE**/
.profile-image {
    max-width: 100%;
    max-height: 100%;
}

.profile-image > img {
    width: 400px;
    border-radius: 50%;
}

.profile-text {
    font-size: 1.25em;
    font-weight: 300;
    text-align: justify;
    color: #0066cc;
    margin: 10px;
    width: 150%;
    user-select: none;
    line-height: normal;
}

.profile {
    background-color: #273233;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 150px;
    padding: 30px;
    justify-items: center;
}

@media screen and (max-width: 768px){
    .profile {
        display: flex;
        flex-wrap: wrap;
    }

    .profile-image > img {
        width: 350px;
        border-radius: 50%;
    }
}

/**LISTAS**/
.listas {
    background-color: #0066cc;
    display: inline-block;
    width: 100%;
    justify-content: space-between;
}

.list-title {
    display:inline-block;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    width: 100%;

}

/**LISTA HOBBIES**/

.hobbies > .list-title {
    width: 100%;
    text-align: center;
    user-select: none;
}

.hobbies {
    float: left;
    width: 50%;
}

/**LISTA GAMES**/

.games > .list-title {
    width: 100%;
    text-align: center;
    user-select: none;
}

.games {
    float: right;
    width: 50%;
}

/**CARDS**/

.cards {
    z-index: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 50px;
    justify-content: center;

}

.card-layer {
    position: relative;
    height: 200px;
    width: 100px;
    transition: transform 0.2s;
}

.card-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #27323363;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    line-height: normal;
    font-size: 1.25em;
    font-weight: bold;
    padding: 5px;
    transition: opacity .2s, visibility .2s;
    user-select: none;

}

.card-layer:hover {
    transform: scale(1.05);
}

.card-layer:hover .card-title {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.card-title-layer {
    transition: .2s;
    transform: translateY(1em);

}

.card-layer:hover .card-title-layer {
    transform: translateY(0);
}

.card-layer img {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
}

.tier-tag {
    width: 30px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;

}

.tag-top-left {
    font-size: 15px;
    font-weight: bold;
    text-align:  end;
    position: relative;
    padding: 8px 13px;
    right: 0px;
    top: 20px;
    width: 40px;
    float: right;
    background-color:#111;
    color: #0066cc;
    border-radius: 3px;
}

@media screen and (max-width: 768px){

    .games {
        float: none;
        width: 100%;
    }
    
    .hobbies {
        float: none;
        width: 100%;
    }

    .hobbies > .list-title {
        text-align: center;
    }
    
    .games > .list-title {
        text-align: center;
    }
}

/********* FOOTER *********/

footer {
    background-color: #111;
    padding: 20px 0;
}

.footer_container {
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.contact-title {
    width: 180px;
    font-size: 16px;
    font-weight: bold;
    color: #0066cc;
    user-select: none;
}

.socials {
    margin: 20px 150px;
}

.socials a {
    color:#0066cc;
    font-size: 24px;
    text-decoration: none;
    transition: .6s;
    padding: 0px 5px 0px 0px;
}

.socials a:hover {
    color:#273233;
}

@media screen and (max-width: 768px){
    .contact-title {
        text-align: center;
    }
}
